.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.option_padding {
  margin-top: 10px !important;
}

.dropdown_container {
  border: 1px solid blue;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.addSchema {
  width: 100%;
  text-align: center;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options_container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
